@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.game {
	width: 100%;
	max-width: 900px;
	box-sizing: border-box;
	padding: 20px;
	margin: 0px auto;
}
.info {
	display: grid;
}
.box-moves {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	text-align: center;
}
.move {
	font-size: 70px;
	padding: 20px 0px;
	border-radius: 20px;
	background-color: #ececec;
	cursor: pointer;
}
.move:hover {
	opacity: 0.6;
}
